QListWidget {
    color: #FFFFFF;
    background-color: #33373B;
}

QListWidget::item {
    height: 50px;
}

QListWidget::item:selected {
    background-color: #e62dcd;
}

QLabel#text_widget{
    color: #000000;
    background-color: #ffffff;
    qproperty-alignment: AlignCenter;
}

QPushButton {
    background-color: #e62dcd;
    padding: 20px;
    font-size: 18px;
}